<h1>Scikit Learn Intro</h1>

<h5>Data Standardization</h5>

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns


plt.rcParams['figure.figsize'] = [8, 6]
sns.set_style("darkgrid")

titanic_data = sns.load_dataset('titanic')

titanic_data = titanic_data[["age", "fare", "pclass"]]
titanic_data.head()

    age     fare  pclass
0  22.0   7.2500       3
1  38.0  71.2833       1
2  26.0   7.9250       3
3  35.0  53.1000       1
4  35.0   8.0500       3

In [4]:
titanic_data.describe()

              age        fare      pclass
count  714.000000  891.000000  891.000000
mean    29.699118   32.204208    2.308642
std     14.526497   49.693429    0.836071
min      0.420000    0.000000    1.000000
25%     20.125000    7.910400    2.000000
50%     28.000000   14.454200    3.000000
75%     38.000000   31.000000    3.000000
max     80.000000  512.329200    3.000000